#mapa {
    overflow: hidden;
    margin: 85px auto 0 auto; /* margen superior aumentado para evitar que quede oculto por el header fijo */
    background-color: #f0f0f0;
    border: 2px solid #444;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 0 10px 0; /* Espacio interno para el contenido */
}


#mapa h1 {
    overflow: hidden;
    margin-top: 5px;
    font-size: 2rem;
    font-style: oblique; /* Tamaño de fuente más grande */
    color: #333; /* Color de texto más oscuro */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centrar el texto */
}

#frameMapa {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: 500px; /* Puedes ajustar esta altura si es necesario */
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin: 20px 0;
}
.form-container h2{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #f0f0f0;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;

  }
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 0;
    text-align: center;
    color:#f0f0f0;
    margin-bottom: 25px;
    font-size: 26px;
  }
  
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    max-width: 1000px;
    background-color: #f2f2f2;
    padding: 40px 30px;
    border-radius: 10px;
    border-top: 4px solid #cacc92
    
  }
  
.mb-3 {
    margin-bottom: 20px;
  }
  
.form-label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
  }
  
.form-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
.form-control:focus,
.form-select:focus {
    width:auto;
    display:block;
    max-width: 100%;    
    text-align: left;
    border-color: #ccc;
    background-color: #fff;
    box-shadow: none;
    outline: none;
  }
  

  




