#mapa {
    overflow: hidden;
    margin: 85px auto 0 auto; /* margen superior aumentado para evitar que quede oculto por el header fijo */
    background-color: #f0f0f0;
    border: 2px solid #444;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 0 10px 0; /* Espacio interno para el contenido */
}


#mapa h1 {
    overflow: hidden;
    margin-top: 5px;
    font-size: 2rem;
    font-style: oblique; /* Tamaño de fuente más grande */
    color: #333; /* Color de texto más oscuro */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centrar el texto */
}

#frameMapa {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: 500px; /* Puedes ajustar esta altura si es necesario */
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin: 20px 0;
}




