/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cacc92ff;
    color: #000000ff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.encabezado .logo img {
    width: 180px;
    height: auto;
    transition: all 0.3s ease;
}

.encabezado nav {
    display: flex;
}

.encabezado .menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.encabezado .menu-list a {
    margin-right: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease;
}

.encabezado .menu-list a:hover {
    color: #555;
}

.encabezado .menu-list a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #555;
    transition: width 0.3s ease;
}

.encabezado .menu-list a:hover::after {
    width: 100%;
}

/* footer */

#about {
    background-color: #000000ff;
    color: #f2f2f2ff;
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: warp;
    margin: 0 10px;
}

.footer-text {
    font-size: 1em;
}

#about .social-links ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

#about .social-links li{
    margin-left: 25px;
}

#about .social-links a{
    color: #f2f2f2ff;
    font-size: 1.5em;
    transition: conlor 0.3s ease;
}

#about .social-links a:hover{
    color: #FAAE7Bff;
}